/*=====================
Main
=======================*/
body {
	background-color: #F5F8FA;
}
.container {
	width: 30%;
	min-height: 120px;

	margin: 0 auto;
	border-bottom: 1px solid #E1E8ED;

	position: relative;

	background-color: #FFFFFF;
}

.tweet {
	width: 70%; 

	position: relative;

	top: 25px;

	margin: 0 auto;
}

.timestamp {
	position: absolute;

	bottom: 10px;
	left: 5px;

}


/*=====================
Font Styles
=======================*/
.tweet {
	font-size: 1.0em;
}

.timestamp {
	font-size: 0.7em;
}
/*=====================
Buttons
=======================*/



